:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.background {
  background-color: black;
  width: 100vw;
  height: 100vh;

  

}

.search-div {
  color: white;
  
}

.lists-div {
  display: flex;
}


